<button (click)="back()"><i class="fa fa-arrow-left fa-1x" ></i></button>
<div class="text-xl text-pink-700 flex justify-center">of() & from()</div>

<div class="w-full  space-y-4 md:space-y-5">

    <!-- First -->
    <div class="w-full  bg-white rounded-md p-4 shadow-md">
        <h2 class="text-xl font-semibold mb-4">of()</h2>

        <!-- Internal Cards in Card 1 -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Internal Card 1 -->
            <div class=" bg-gray-200 p-3 rounded-md">
                <p class="bg-slate-50 p-2 rounded-md">Data: <span class="text-xl text-pink-700 ">of('Angular','React','Vue')</span> <button class="float-right border border-3 rounded-md p-1 bg-purple-600 text-white -mt-1.5"  (click)="ofWithArguments()">Click</button></p>
                <ul id="ofWithArguments"></ul>
            </div>

            <!-- Internal Card 2 -->
            <div class=" bg-gray-200 p-3 rounded-md">
                <p class="bg-slate-50 p-2 rounded-md">Data: <span class="text-xl text-pink-700">of(&#123;x:'Angular',y:'React',z:'Vue'&#125;)</span><button class="float-right border border-3 rounded-md p-1 bg-purple-600 text-white   -mt-1.5" (click)="ofWithObject()">Click</button></p>
                <p>x: {{"  "+ responseMsg.x}}</p> 
                <p>y: {{"  "+ responseMsg.y}}</p> 
                <p>z: {{"  "+ responseMsg.z}}</p> 
            </div>

        </div>
    </div>

    <!-- Second Card (Full width for small screens, half width for medium and large screens) -->
    <div class="w-full  bg-white rounded-md p-4 shadow-md">
        <h2 class="text-xl font-semibold mb-4">from()</h2>

        <!-- Internal Cards in Card 2 -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- Internal Card 4 -->
            <div class="bg-gray-200 p-3 rounded-md">
                <div class=" bg-gray-200 p-3 rounded-md">
                    <p class="bg-slate-50 p-2 rounded-md">Example with an Array <button class="float-right border border-3 rounded-md p-1 bg-purple-600 text-white -mt-1.5" (click)="fromArray()">Click</button></p>
                    <p class="bg-slate-50 p-2 rounded-md">Data: <span class="text-pink-700">from(['Angular','React','Vue'])</span></p>
                        <ul id="fromWithArray"></ul>
                </div>
            </div>

            <!-- Internal Card 5 -->
            <div class="bg-gray-200 p-3 rounded-md">
                <div class=" bg-gray-200 p-3 rounded-md">
                    <p class="bg-slate-50 p-2 rounded-md">Example with a  Promise <button class="float-right border border-3 rounded-md p-1 bg-purple-600 text-white -mt-1.5" (click)="fromPromise()">Click</button></p>
                    <p class="bg-slate-50 p-2 rounded-md">Data: <span class="text-pink-700">Proimse to an Observable</span>
                    </p>
                    <ul id="fromWithPromise"></ul>
                </div>
            </div>

            <!-- Internal Card 6 -->
            <div class="bg-gray-200 p-3 rounded-md">
                <div class=" bg-gray-200 p-3 rounded-md">
                    <p class="bg-slate-50 p-2 rounded-md">Example with a  String <button class="float-right border border-3 rounded-md p-1 bg-purple-600 text-white -mt-1.5" (click)="fromString()">Click</button></p>
                    <p class="bg-slate-50 p-2 rounded-md">Data: <span class="text-pink-700">String to an Observable</span></p>
                    <ul id="fromWithString"></ul>
                </div>
            </div>
        </div>
    </div>

</div>
