<button (click)="back()"><i class="fa fa-arrow-left fa-1x" ></i></button>
<div class="text-xl text-pink-700 flex justify-center">toArray()</div>

<div class="w-full space-y-4 md:space-y-5" >
    <div class="w-full bg-white rounded-md p-4 shadow-md">
        <div class=" grid grid-cols-1 md:grid-cols-3 rounded-md  gap-4">
            <div class="bg-gray-200 p-2 rounded-md">
               <p class="p-2 text-xl font-semibold bg-slate-50 rounded-lg">with interval() <button class="float-right  bg-purple-500 rounded-lg text-white shadow-lg p-1 -mt-1" (click)="withInterval()">Click</button></p>
               [{{intervalResMsg}}]
            </div>

            <div class="bg-gray-200 p-2 rounded-md">
                <p class="p-2 text-xl font-semibold bg-slate-50 rounded-lg">with from() <button class="float-right  bg-purple-500 rounded-lg text-white shadow-lg p-1 -mt-1" (click)="withFrom()">Click</button></p>
                    <p *ngFor="let user of fromResMes">
                        Name: {{user.name}}<br>
                        Skill: {{user.skill}}
                    </p>
             </div>

             <div class="bg-gray-200 p-2 rounded-md">
                <p class="p-2 text-xl font-semibold bg-slate-50 rounded-lg">with of() <button class="float-right  bg-purple-500 rounded-lg text-white shadow-lg p-1 -mt-1" (click)="withOf()">Click</button></p>
                [{{ofResMsg}}]
             </div>
            
        </div>
    </div>
    
</div>