<div class="flex flex-wrap mt-5">
    <div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-4">
      <div type='button' class="p-4 border-2 border-white rounded-lg text-center text-white font-semibold  bg-pink-700 hover:cursor-pointer hover:bg-purple-800" (click)="fromEvent()">
        fromEvent()
      </div>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-4">
      <div class="p-4 border-2 border-white rounded-lg text-center text-white font-semibold  bg-pink-700 hover:cursor-pointer hover:bg-purple-800">
        XXX
      </div>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-4">
      <div class="p-4 border-2 border-white rounded-lg text-center text-white font-semibold  bg-pink-700 hover:cursor-pointer hover:bg-purple-800">
        XXX
      </div>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-4">
      <div class="p-4 border-2 border-white rounded-lg text-center text-white font-semibold  bg-pink-700 hover:cursor-pointer hover:bg-purple-800">
        XXX
      </div>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-4">
        <div class="p-4 border-2 border-white rounded-lg text-center text-white font-semibold  bg-pink-700 hover:cursor-pointer hover:bg-purple-800">
          XXX
        </div>
      </div>
  </div>
  