<button (click)="back()"><i class="fa fa-arrow-left fa-1x" ></i></button>
<div class="flex flex-wrap mt-5">
    
    <div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-4">
        <h2 type="button" class="text-xl font-semibold text-center mb-2 bg-pink-700 text-white  p-2 rounded " 
        (click)="fromEvent()">Add video</h2>
      
    </div>
   
    <div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-4 bg-white shadow-lg rounded-lg overflow-hidden ">
        <div class="p-4">
          <!-- Card Header with Pink Background -->
          <h2 class="text-xl font-semibold text-center mb-2 bg-pink-700 text-white p-2 rounded">List of Videos</h2>
          
          <!-- Card Body with White Background -->
          <div class="bg-white text-left rounded ">
            <ul>
                <li>Video - 1</li>
                <li>Video - 2</li>
                <li>Video - 3</li>
            </ul>
          </div>
        </div>
      </div>
    <!-- <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden m-4">
        <div class="p-4">
         Card Header with Pink Background 
          <h2 class="text-xl font-semibold text-center mb-2 bg-pink-700 text-white p-2 rounded">List of Videos</h2>
          
          Card Body with White Background 
          <div class="bg-white text-left rounded ">
            <ul>
                <li>Video - 1</li>
                <li>Video - 2</li>
                <li>Video - 3</li>
            </ul>
          </div>
        </div>
      </div> -->

      <!-- <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden m-4">
        <div class="p-4">
         
          <h2 class="text-xl font-semibold mb-2 bg-pink-500 text-white p-2 rounded">Card 3 Header</h2>
          
         
          <div class="bg-white p-4 rounded">
            <p class="text-gray-700">Card 3 Body content goes here.</p>
          </div>
        </div>
      </div> -->
  </div>
  